body,html{
  margin: 0;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
  background: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  font-size: 16px;
  font-weight: bold;
}

.navbar ul{
  display: flex;
  font-size: 14px;
  list-style: none;
  gap: 20px;
}

.hero{
  background: #1f2937;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 60px;
}


.hero-text{
  padding: 60px;
  max-width: 500px;
}

.hero-text h1{
  font-weight: bold;
  font-size: 48px;
  font-weight: 900;
}

.hero-text p{
  font-size: 18px ;
  color: #e5e7eb;
}

.hero-image{
  width: 300px;
  height: 150px;
  background: #6b7280;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero button{
  background: #3882f6;
  color: white;
  font-size:16px;
  padding: 10px 20px;
  border-radius: 8px;
}

.info-section{
  margin: 60px;
  text-align: center;
}

.info-cards{
  margin: 60px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.card-box{
  border: 2px solid #3883f6;
  width: 100px;
  height: 100px;
  border-radius: 10px ;
  margin: 0 auto 10px;
}

.card{
  max-width: 150px;
}

.quote-section{
  text-align: center;
  background: #e5e7eb;
  height: 100px;
  padding: 30px;
}

.quote{
  font-style: italic;
  margin: 0 auto;
  max-width: 800px;
  /* font-size: 36px; */
  color: #1f2937;
  font-weight: 300;
}

.author{
  margin: 0 0 0 850px;
}

.cta-section{
  margin: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-box{
  background: #3882f6;
  color: white;
  padding: 20px 60px ;
  border-radius: 5px;
  display: flex;
  border-radius: 10px;
  width: 80%;
 align-items: center;
 justify-content: space-around;
  max-width: 900px;
}

.cta-section button{
  background:transparent;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border: 2px solid white;
  border-radius: 8px;
}

.footer{
  text-align: center;
  background: #1f2937;
  color: #d1d5db;
  padding: 20px;
  font-size: 14px;
}





